.editar-cliente-container2 h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
  background-color: orange;
  color: white;
  padding: 20px;
}

.editar-cliente-container2 {
  width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin-top: 70px;
}

.editar-cliente-container2 form {
  display: flex;
  flex-direction: column;
}

.editar-cliente-container2 label {
  margin-bottom: 10px;
  font-size: 24px;
}

.editar-cliente-container2 input {
  padding: 8px;
  margin-bottom: 10px;
  width: 60%;
  margin-left: 20px;
  font-size: 20px;
}

.editar-cliente-container2 .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.editar-cliente-container2 button {
  padding: 10px;
  background-color: midnightblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
}

.editar-cliente-container2 button[type="button"] {
  background-color: grey;
}
