/* Estilos para la tabla de ventas */
.tabla-cobrar {
  position: relative;
  right: 220px;
  width: 59%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-top: 30px;
}

/* Estilos para las celdas de la última columna */
.tabla-cobrar td:last-child {
  width: 5%;
}

/* Estilos para las celdas de encabezado */
.tabla-cobrar th {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 22px;
}

/* Estilos para las filas de la tabla */
.tabla-cobrar tr {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

/* Estilos para las celdas de datos */
.tabla-cobrar td {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

/* Estilos alternados para filas (opcional) */
.tabla-cobrar tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-cobrar th:nth-child(3),
.tabla-cobrar td:nth-child(3) {
  width: 100px; /* Aquí puedes ajustar el ancho según tus necesidades */
}

/* Hover sobre las filas (opcional) */
.tabla-cobrar tr:hover {
  background-color: #e0e0e0;
}

.cobranza {
  position: absolute;
  border-radius: 10px;
  border: solid;
  top: 280px;
  font-size: 32px;
  right: 130px;
}

.cobranza h4 {
  text-align: center;
  background-color: red;
  padding: 10px;
  margin-top: 0%;
}

.cobranza p {
  text-align: center;
  font-size: 22px;
  padding: 2px;
  margin-top: 0%;
}
.cobranza button {
  padding: 15px;
}

.selected-row {
  background-color: yellow !important; /* Asegura que el color de fondo amarillo tenga prioridad */
}

.resultado-container {
  width: 100%;

  display: flex;
  align-items: center;
}

.resultado-container p {
  margin: 0;
  margin-left: 20px;
  font-size: 26px;
  align-items: center;
}

.resultado-container label {
  font-size: 22px;
}

.buttonPdf {
  border: solid;
  border-color: blue;
  color: blue;
  background-color: white;
  margin-left: 90px;
  font-size: 17px;
  font-weight: bold;
}

.buttonPdf:hover {
  background-color: #e0e0e0;
}
